/* Exercise: React Transitions
1. Install yarn react transition group library

app.css
2. adding css to app.css. CSS transition groups give us four classes we can use.  
3. We need to give each class a base class name called page. 
4. Create four classes: page-enter and page-enter-active describe transition what happens when you mount the component. Starting with opacity 0 to opacity 1 with transition 300ms. Ease out means the transition will start fast and decelerates as it reaches the end.    
5. two more classes: page-exit and page-exit-active describe transition when the component is being unmounted. Starting with opacity 1 to opacity 0 and ease in at transition 300 ms, meaning it will start slow and accelerate at the end. 

maincomponent.js
6. import TransitionGroup & CSSTransition.
7. Wrap route in TransitionGroup and CSSTransition
8. CSSTransition requires a unique key because the react router require each key for each route. 
9. Give a classNames, this wants with s because it is a special attribute comes with CSSTransition. Whatever classnames we give, it will look for that class name -enter or exit. 
10. Add the default timeout in the CSSTransition as well
*/

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.card-body > h5 {
  font-family: "Lobster", cursive;
}

h2 {
  color: #3046c5;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
  color: white;
}

.jumbotron h2 {
  color: #cec8ff;
}

.navbar-dark {
  background-color: #901cad;
}

/* 1,2,3,4*/
.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}
